<div class="container">
<div class="row">
    <div class="col-lg-2"></div> 
    <div class="col-lg-8 my-2">
      <p>Quantidade de caracteres <input value="10" type="number" id="qtd" min="6" max="50"></p>
      <p>Adicionar maiúsculas <input type="checkbox" id="checkMaisculas" checked>
      Adicionar minusculas <input type="checkbox" id="checkMinusculas" checked></p>
      <p>Adicionar numeros <input type="checkbox" id="checkNumeros" checked>
      Adicionar simbolos <input type="checkbox" id="checkSimbolos" checked></p>  
    </div> 
    <div class="col-lg-2"></div> 

 </div>
 </div> 
  
  
    <!-- Button trigger modal -->
<button type="button" id="gerarSenha" class="btn btn-primary gerarSenha">Gerar Senha</button>
 